* {
    text-align: center;
    font-family: "TheLastofUs";
    text-transform: uppercase;
    background-color: transparent;
}

.container-sessao {
    background-image: url('../assets/imagem-principal.jpg');
}

.login {
    max-width: 400px;
    border-radius: 5px;
    margin: 70px 100px 100px 100px;
    padding: 20px;
    font-size: 30px;
    background-color: var(--cor-preta);
    border: 2px solid var(--cor-branca);
    border-radius: 34px;
}

.login h1 {
    font-size: 30px;
}

.login h3,
.login a {
    font-size: 20px;
}

.login a:hover {
    color: var(--cor-vinho);
    text-decoration: underline;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.form_input {
    height: 40px;
    border: 2px solid var(--cor-branca);
    padding: 10px;
    font-size: 20px;
    border-radius: 34px;
    outline: 2px;
    color:var(--cor-branca);
}

.btn-saiba {
    width: 200px;
    align-self: center;
}

/* ESTILO WEB-DATA-VIZ */

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    max-width: 300px;
    max-height: 100px;
    position: fixed;
    top: 150px;
    border-radius: 5px;
    border: 2px solid var(--cor-branca);
    background-color: var(--cor-vinho);
    align-items: center;
    padding: 10px;
    margin-right: 40px;    
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
    display: flex;
}

.formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
}

.formulario {
    display: flex;
    flex-direction: column;
}

/* input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
} */

/* .btn {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #ED145B;
    width: 120px;
    align-self: center;
    margin-top: 5px;
} */

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}

/* SIMULADOR */

/* .simulador {
    color: white;
}

.simulador .container {
    flex-direction: column;
    overflow: scroll;
    height: var(--tamanho-simulador);
} */

/* ALERTA */

/* #alerta {
    position: absolute;
    right: 0;
    bottom: 0;
} */
/* 
.mensagem-alarme {
    background-color: white;
    border-radius: 5px;
    width: 300px;
    height: 80px;
    margin: 10px;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mensagem-alarme h3 {
    font-size: 14px;
    margin: 0;
}

.mensagem-alarme .informacao {
    width: 66%;
}

.alarme-sino {
    width: 48px;
    height: 48px;
    animation-name: bell;
    animation-duration: 4s;
    background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
    background-size: cover;
    animation-iteration-count: infinite;
}

@keyframes bell {
    0% {
        transform: rotate(25deg)
    }

    25% {
        transform: rotate(-25deg)
    }

    50% {
        transform: rotate(25deg)
    }

    75% {
        transform: rotate(-25deg)
    }

    100% {
        transform: rotate(25deg)
    }
} */