/* pagina mural */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
}

.dash {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  left: 20%;
  height: 100vh;
  overflow: auto;
  /* height: 100vh; */
  padding: 0 3rem 0 3rem;
  justify-content: space-evenly;
}

.div_btn {
  padding: 20px;
}

/* KPI */

.box-kpis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--cor-branca);
  border-radius: 15px;
}

.box-kpis h1 {
  padding: 10px;
}

#div_kpis_indiv,
#div_kpis_grupo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 10px;
}

.kpi {
  border: 2px solid var(--cor-branca);
  border-radius: 15px;
  background: var(--cor-preta);
  padding: 10px;
}

/* GRÁFICOS */

#box_graficos {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cor-preta);
  border: 2px solid var(--cor-branca);
  border-radius: 15px;
  padding: 5px;
}

.grafico1 {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.grafico1 h1 {
  padding: 10px;

}

/* BOTÕES */
/* ---------- DIV BOTÕES ----------- */
.btn_kpi {
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: 2px solid var(--cor-cinza);
  border-radius: 34px;
  background: var(--cor-preta);
  text-transform: uppercase;
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 200;
  color: inherit;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
}

.btn_selecionado {
  background-color: var(--cor-vinho);
}

/* pagina graficos */

.dash-header {
  background-color: #212124;
}

.div-grafico {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
  border-radius: 35px;
}

canvas {
  width: 100%;
  height: 100%;
}

/* PAGINA DOS GRÁFICOS 2023 */

.janela {
  display: flex;
}

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid rgb(224, 222, 222);
  background-color: #212124;
}

.dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}

.header-left h1 {
  color: rgb(224, 222, 222);
  font-size: 2rem;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: rgb(224, 222, 222);
  font-size: 1.2rem;
}

.hello h3 span {
  font-size: 1.2rem;
  text-decoration: underline;
}