/* ---------- FONTES ----------- */
@font-face {
    font-family: 'TheLastofUs';
    src: url('../assets/fonts/pressgothic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* ---------- VARIÁVEIS GLOBAIS - CORES ----------- */
:root {
    --cor-branca: rgb(224, 222, 222);
    --cor-cinza: rgb(170, 170, 170);
    --cor-preta: rgb(15, 15, 15);
    --cor-vinho: rgb(145, 50, 50);
}

/* ---------- BASE ----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TheLastofUs', Arial, sans-serif;
    color: var(--cor-branca);
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 3px;
}

body {
    background-color: var(--cor-preta);
    margin-bottom: 100px;
}

/* ---------- LINKS GERAIS ----------- */
a {
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
    color:var(--cor-vinho);
    text-decoration: underline;
}

/* ---------- NAVBAR ----------- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    background-color: var(--cor-preta);
    z-index: 10000;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo img {
    height: 35px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.navbar-menu li a {
    font-size: 24px;
}

.pg-atual {
    color: var(--cor-vinho);
    text-decoration: underline;
}

/* ---------- DROPDOWN ----------- */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown h1 {
    font-size: 24px;
    cursor: pointer;
    font-weight: 200;
    background-color: var(--cor-preta);;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 120px;
    background-color: #111;
    z-index: 10000;
}

.dropdown-content a {
    display: block;
    padding: 12px 16px;
    font-size: 24px;
    text-align: center;
    background-color: #111;
    color: var(--cor-branca);
    box-shadow:
        -1px -1px 0 var(--cor-branca),
        1px -1px 0 var(--cor-branca),
        -1px 1px 0 var(--cor-branca),
        1px 1px 0 var(--cor-branca);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown h1:hover,
.dropdown-content a:hover {
    color: var(--cor-vinho);
    text-decoration: underline;
}

/* ---------- BOTÕES ----------- */
.btn-saiba,
.btn-parte {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    border: 2px solid var(--cor-cinza);
    border-radius: 34px;
    background: transparent;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 200;
    color: inherit;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}



.btn-saiba {
    position: relative;
}

.btn-saiba::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 100%;
    height: 40px;
    border-radius: inherit;
    transform: scale(0);
    z-index: -1;
    background-color:var(--cor-vinho);
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn-saiba:hover::before {
    transform: scale(3);
}

.btn-saiba:hover {
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 0 20px var(--cor-vinho);
}

/* ---------- CONTAINERS ----------- */
.container-sessao1 {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: center;
}