/* ---------- SESSÃO 1 ----------- */
.container-sessao {
    margin-bottom: 100px;
}


.caixa-sessao1 {
    background-color: transparent;
}

.caixa-texto1 {
    background-color: transparent;
    padding: 350px 20px;
    border-radius: 10px;
    text-align: left;
    color: var(--cor-branca);
    max-width: 600px;
    font-family: 'Arial', sans-serif;
}

.caixa-texto1 h1 {
    background-color: transparent;
    text-transform: uppercase;
    color: var(--cor-branca);
    text-align: left;
    font-weight: 200;
    letter-spacing: 1.2px;
    font-family: "TheLastofUs";
    font-size: 2.5em;
    margin-bottom: 15px;
}


/* ---------- SESSÃO 2 ----------- */
.container-sessao2 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-size: cover;
    background-position: center;
    gap: 20px;
    box-sizing: border-box;
    height: calc(100vh - 4rem);
}

.cont-esq,
.cont-dir {
    flex: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.cont-esq img,
.cont-dir img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.caixa-sessao2 {
    background-color: transparent;
}

.caixa-texto2 {
    background-color: transparent;
    border-radius: 10px;
    text-align: left;
    color: var(--cor-branca);
    font-family: 'Arial', sans-serif;
    max-width: 100%;
}

.caixa-texto2 h1 {
    padding-left: 40px;
    background-color: transparent;
    text-transform: uppercase;
    color: var(--cor-branca);
    text-align: left;
    font-weight: 200;
    letter-spacing: 1.2px;
    font-family: "TheLastofUs";
    font-size: 2.5rem;
}

.caixa-texto2 p {
    padding: 40px;
    width: 100%;
    font-weight: 200;
    font-size: 1.2rem;
}