/* ---------- SESSÃO 1 ----------- */

.imagemFundo1 {
    background-image: url('../assets/imagem-principal2.jpg');
}

.imagemFundo2 {
    background-image: url('../assets/52342170554_740298ac0c_h.jpg');
}

.caixa-sessao1 {
    padding: 4rem 2rem;

}

.container-sessao {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.caixa-texto1 {
    padding: 350px 20px;
    border-radius: 10px;
    text-align: left;
    color: var(--cor-branca);
    max-width: 600px;
    font-family: 'Arial', sans-serif;
}

.caixa-texto1 h1 {
    font-family: 'TheLastofUs';
    font-size: 2.1em;
    margin-bottom: 15px;
    letter-spacing: 2px;

    text-transform: uppercase;
    color: var(--cor-branca);
    text-align: left;
    font-weight: 200;
    letter-spacing: 1.2px;
    font-family: "TheLastofUs";
    font-size: 2.5em;
}

/* ---------- SESSÃO 2 ----------- */

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 380px;
    background-color: var(--cor-preta);
    z-index: 102;
    outline: 4px solid var(--cor-cinza);
    border-radius: 34px;
    overflow: hidden;
}

.card-trans {
    z-index: 2000;
    transition: transform 0.5s;
    margin: 0 auto;
    transform-origin: top center;
}

.card {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: var(--cor-preta);
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}


.card-img {
    max-width: 100%;
    height: auto;
}

h3 {
    text-transform: uppercase;
    color: var(--cor-branca);
    text-align: center;
    font-weight: 200;
    letter-spacing: 1.2px;
    font-family: "TheLastofUs";
    font-size: 30px;
}

.content {
    padding: 0 1.4em;
    text-align: center;
}

.content>h3 {
    margin-top: 20px;
}

.content>.description {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Oswald;
    letter-spacing: 0.9px;
    font-weight: 100;
    color: var(--cor-branca);
    font-size: 16px;
}