* {
    text-align: center;
    font-family: "TheLastofUs";
    text-transform: uppercase;
    background-color: var(--cor-preta);
}

.container-sessao {
    background-image: url('../assets/cacador-joel.jpg');
}

.btn-iniciar {
    top: 40vh;
}

.pontuacaoEJogo {
    flex-direction: row;
    background-color: transparent;
}

.caixa-pontos {
    align-items: left;
    justify-content: center;
    width: 40vw;
    border-radius: 5px;
    margin: 70px 100px 70px 100px;
    padding: 20px;
    font-size: 30px;
    background-color: var(--cor-preta);
    border: 2px solid var(--cor-branca);
    border-radius: 34px;
    flex-direction: column;
}

.caixa-quiz {
    align-items: center;
    justify-content: center;
    width: 40vw;
    border-radius: 5px;
    margin: 70px 100px 100px 100px;
    padding: 20px;
    font-size: 30px;
    background-color: var(--cor-preta);
    border: 2px solid var(--cor-branca);
    border-radius: 34px;
    flex-direction: column;
}

.btn-saiba {
    margin: 10px;
}

.flex-linha option{
    margin: 10px;
}


/* 
.login {
    max-width: 400px;
    border-radius: 5px;
    margin: 70px 100px 100px 100px;
    padding: 20px;
    font-size: 30px;
    background-color: var(--cor-preta);
    border: 2px solid var(--cor-branca);
    border-radius: 34px;

}

.login h1 {
    font-size: 30px;
}

.login h3,
.login a {
    font-size: 20px;
}

.login a:hover {
    color:var(--cor-vinho);
    text-decoration: underline;
} */
 

/* webdataviz */

/* body {
    color: var(--new-black);
    background-color: var(--new-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-coluna {
    display: flex;
    flex-direction: column;
}

.flex-linha {
    display: flex;
    flex-direction: row;
}

.width-fit-content {
    width: fit-content;
} */

/* .padding-8 {
    padding: 8px;
} */

/* .text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
} */

