* {
  text-align: center;
  font-family: "TheLastofUs";
  text-transform: uppercase;
}

.container-sessao {
  background-image: url('../assets/cacador-joel.jpg');
  height: 100vh;
  top: 0rem;
}

.btn-iniciar {
  top: 40vh;
}

.pontuacaoEJogo {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  height: 100vh;
  overflow: auto;
  height: 100vh;
  padding: 0 3rem 3rem 3rem;
}

.scroll-container {
  background-color: transparent;
}

.caixa-pontos {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-preta);
  border: 2px solid var(--cor-branca);
  border-radius: 35px;
  padding: 20px;
  margin: 4rem;

}

.caixa-quiz {
  width: 50vw;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  /* margin: 70px 100px 100px 100px; */
  padding: 20px;
  font-size: 30px;
  background-color: var(--cor-preta);
  border: 2px solid var(--cor-branca);
  border-radius: 35px;
  flex-direction: column;
}

/* .btn-saiba {
  width: 200px;
} */

.flex-linha option {
  margin: 10px;
}


/* 
.login {
    max-width: 400px;
    border-radius: 5px;
    margin: 70px 100px 100px 100px;
    padding: 20px;
    font-size: 30px;
    background-color: var(--cor-preta);
    border: 2px solid var(--cor-branca);
    border-radius: 34px;

}

.login h1 {
    font-size: 30px;
}

.login h3,
.login a {
    font-size: 20px;
}

.login a:hover {
    color:var(--cor-vinho);
    text-decoration: underline;
} */


/* webdataviz */

/* body {
    color: var(--new-black);
    background-color: var(--new-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex-coluna {
    display: flex;
    flex-direction: column;
}

.flex-linha {
    display: flex;
    flex-direction: row;
}

.width-fit-content {
    width: fit-content;
} */

/* .padding-8 {
    padding: 8px;
} */

.text-success-with-bg {
    /* color: var(--success-dark); */
    background-color: var(--cor-verde);
}

/* .text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
} */

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--cor-vinho);
}

/* .text-new-gray {
    color: var(--new-gray);
}  */

/* ------------------------ ABA LATERAL ------------------------------ */

/* @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

/* body {
  margin: 0;
  padding: 0;
} */

/* .dash {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  top: 0;
  left: 20%;
  height: 100vh;
  overflow: auto;
  height: 100vh;
  padding: 0 3rem 3rem 3rem;
} */

/* .div_btn {
  padding: 20px;
} */

/* GRÁFICOS */

/* .box-kpis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--cor-branca);
  border-radius: 15px;
} */

/* .box-kpis h1 {
  padding: 10px;
} 
/* 
#div_kpis_indiv,
#div_kpis_grupo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 10px;
} */

/* .kpi {
  border: 2px solid var(--cor-branca);
  border-radius: 15px;
  background: var(--cor-preta);
  padding: 10px;
} */

/* GRÁFICOS */

/* #box_graficos {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--cor-preta);
  border: 2px solid var(--cor-branca);
  border-radius: 35px;
  padding: 5px;
}

.grafico1 {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.grafico1 h1 {
  padding: 10px;

} */

/* BOTÕES */
/* ---------- DIV BOTÕES ----------- */
/* .btn_kpi {
  display: inline-block;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: 2px solid var(--cor-cinza);
  border-radius: 34px;
  background: var(--cor-preta);
  text-transform: uppercase;
  font-size: clamp(14px, 1.5vw, 20px);
  font-weight: 200;
  color: inherit;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);

} */

.btn_selecionado {
  background-color: var(--cor-vinho);
}

/* 
.label-captura {
  display: flex;
  justify-content: center;
}

.dash-right .avisos {
  width: 100%;
  color: rgb(216, 216, 216);
}

.dash-right .avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dash-right .avisos .container .div-form {
  width: 95%;
}

.dash-right .avisos .container .div-form #form_postagem {
  width: 95%;
}

.dash-right .avisos .div-form label {
  width: 95%;
}

.dash-right .avisos .div-form input {
  width: 95%;
  border-radius: 5px;
  border: 2px solid var(--cor-cinza);
}

.dash-right .avisos .div-form textarea {
  width: 95%;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
}

.dash-right .avisos .div-form button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
}

.publicacao-btn-editar {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao>*:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons>* {
  margin-left: 30px;
} */

/* pagina graficos */
/* 
.dash-header {
  background-color: #212124;
}


.area-parametros-alerta {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 10px;
  background-color: #212124;
}

.area-parametros-alerta .titulo-legenda {
  color: white;
  font-weight: 600;
  width: fit-content;
  margin: 10px 20px;
}

.parametros-alerta {
  display: flex;
  width: 100%;
}

.item-regua {
  width: 20%;
  text-align: center;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.item-regua p {
  margin: 0;
  font-weight: 500;
}

.item-regua p:nth-child(2) {
  font-weight: 800;
} */

/* .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 450px;
  width: 100%;
  align-items: center;
  color: white;
}

.card-aquario {
  margin: 2%;
  min-width: 40%;
  max-width: 50%;
  width: fit-content;
  flex-wrap: wrap;
  display: flex;
  height: 180px;
  background-color: #212124;
  font-size: 20px;
} */
/* 
.card-aquario h1 {
  width: fit-content;
}

.card-aquario p {
  margin: 0;
  font-size: 50px;
  font-weight: lighter;
  text-align: left;
}

.desc-aquario {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.desc-aquario .cor-alerta {
  width: 30px;
}

.title-aquario {
  width: 100%;
} */


/* .cards h1 {
  font-size: 22px;
  border-bottom: solid white 1px;
  text-align: left;
  font-weight: lighter;
  margin: 20px;
} */

/* .temperatura,
.umidade {
  margin: 5px;
  margin-left: 20px;
  width: 75%;
}

.cor-alerta {
  width: 13%;
  height: 30%;
  border-radius: 50%;
  display: inline-block;
}

.div-grafico {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
  padding: 0 30% 0 30%;
  border-radius: 35px;
  /* border: 2px solid var(--cor-cinza); 
} 

/* .graph {
  width: 70%;
  margin: auto;
  padding-top: 10px;
} */

/* .tituloGraficos {
  color: rgb(216, 216, 216);
  display: flex;
  justify-content: center;
} */

/* .btn-chart {
  border: 0;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: #e6005a;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  cursor: pointer
} */

/* 
.label-captura {
  height: 80px;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.display-block {
  display: block;
}

.janela {
  display: flex;
} */

.header-left a {
  text-decoration: none;
  color: white;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 3px solid rgb(224, 222, 222);
  background-color: #212124;
}

/* .dash-right {
  display: flex;
  width: 70%;
  height: fit-content;
  background-color: #161618;
  position: relative;
  top: 0;
  left: 25%;
  height: 100vh;
  overflow: auto;
}*/

 .header-left h1 {
  color: rgb(224, 222, 222);
  font-size: 2rem;
} 

.header-left .btn-saiba {
  width: 200px;
}

.hello {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hello h3 {
  color: rgb(224, 222, 222);
  font-size: 1.2rem;
}

.hello h3 span {
  font-size: 1.2rem;
  text-decoration: underline;
} 

/* GRÁFICOS */

.box-kpis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--cor-branca);
  border-radius: 15px;
}

.box-kpis h1 {
  padding: 10px;
}

#div_kpis_indiv,
#div_kpis_grupo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  /* max-width: 30rem; */
  gap: 2rem;
  padding-bottom: 10px;
}

.kpi {
  border: 2px solid var(--cor-branca);
  border-radius: 15px;
  background: var(--cor-preta);
  padding: 10px;
  width: 200px;
}

#msgFinal {
    border: 2px solid var(--cor-branca);
    border-radius: 15px;
}