p {
    font-size: 0.9rem;
}

.container-sessao {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 4rem);
    top: 4rem;
    background-image: url('../assets/cacador-joel.jpg');
}

.box-esq {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--cor-branca);
    border-radius: 15px;
    width: 60%;      
    margin: 0.5rem;     
    text-transform: uppercase;
    background-color: var(--cor-preta);
    height: 25%; 
}

.box-esq-scroll {
    overflow: auto;
}


.box-esq h1,
.box-esq2 h1 {
    padding-top: 10px;
}

.box-esq2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid var(--cor-branca);
    border-radius: 15px;
    width: 60%;
    height: 55%;
    margin: 0.5rem;
    background-color: var(--cor-preta);
    text-transform: uppercase;
}

.itens-container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;           
}

.item-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.box-dir {
    display: block;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border: 2px solid var(--cor-branca);
    border-radius: 5px;
    width: 60%;
    height: 20%;
    margin: 0.5rem;
    text-transform: uppercase;
    overflow: scroll;
    padding: 20px;
}

#div_kpis_indiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--cor-branca);
    border-radius: 15px;
    background: var(--cor-preta);
    padding: 5px;
    margin: 0.5rem;
    text-align: center;
    width: 250px;
}

.item-box img {
    height: 4rem;
    width: fit-content;
    justify-self: center;
}

#div_personagem,
#div_infectado #div_tempo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

#btn_rec_revolver,
#btn_rec_rifle,
#btn_rec_espingarda {
    background-color: var(--cor-vinho);
}

p {
    padding: 10px;
}

#btn_iniciar, #btn_reiniciar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--cor-preta);
    overflow: hidden;
    border: 2px solid var(--cor-branca);
}