.container-sessao {
    display: flex;
    flex-direction: row;
    align-items: center;
}

* {
    font-size: 18px;
}


.box-esq {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-branca);
    border-radius: 15px;
    width: 40%;
    margin: 40px;
    text-transform: uppercase;
}

.box-esq-scroll {
    overflow: scroll;
}

.box-esq h1,
.box-esq2 h1 {
    padding: 10px;
}

.box-esq2 {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-branca);
    border-radius: 15px;
    width: 60%;
    height: 40%;
    margin: 20px;
    text-transform: uppercase;
}

.box-dir {
    display: block;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    border: 2px solid var(--cor-branca);
    border-radius: 5px;
    width: 60%;
    height: 20%;
    margin: 20px;
    text-transform: uppercase;
    overflow: scroll;
    padding: 20px;
}

.box-esq {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--cor-branca);
    border-radius: 15px;
    width: 60%;
    margin: 20px;
    text-transform: uppercase;
    height: 20%;
}

#div_kpis_indiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    /* max-width: 30rem; */
    gap: 2rem;
    padding-bottom: 10px;
}

.item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--cor-branca);
    border-radius: 15px;
    background: var(--cor-preta);
    padding: 10px;
    margin: 20px;
    text-align: center;
    width: 250px;
}


.item-box img {
    height: 4rem;
    width: fit-content;
    justify-self: center;
}

#div_personagem,
#div_infectado #div_tempo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

#btn_rec_revolver,
#btn_rec_rifle,
#btn_rec_espingarda {
    background-color: var(--cor-vinho);
}

.btn-saiba {
    font-size: 18px;
}

p {
    padding: 10px;
} 

/* .div_dados {
    max-width: 300px;
    border-radius: 5px;
    margin: 70px 100px 100px 100px;
    padding: 10px;
    font-size: 30px;
    background-color: var(--cor-preta);
    border: 2px solid var(--cor-branca);
    border-radius: 34px;
}

.div_btn {
    max-width: 500px;
    border-radius: 5px;
    margin: 70px 100px 100px 100px;
    padding: 20px;
    font-size: 30px;
    background-color: var(--cor-preta);
    border: 2px solid var(--cor-branca);
    border-radius: 34px;
} */

#btn_iniciar {
   position: absolute;
    top: 50%;
    left: 50%;
    
}

.card {
    width: 100%;
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: var(--cor-preta);
    overflow: hidden;
    border: 2px solid var(--cor-branca);
}